@keyframes text3d {
  0% {
    text-shadow: 0px 0px 100px rgba(11, 124, 199, 1);
  }

  10% {
    text-shadow: 0px 0px 100px rgba(168, 11, 199, 1);
  }

  20% {
    text-shadow: 0px 0px 100px rgba(11, 199, 96, 1);
  }

  30% {
    text-shadow: 0px 0px 100px rgba(199, 11, 11, 1);
  }

  40% {
    text-shadow: 0px 0px 100px rgba(199, 96, 11, 1);
  }
  50% {
    text-shadow: 0px 0px 100px rgba(19, 15, 64, 1);
  }
  60% {
    text-shadow: 0px 0px 100px rgba(249, 202, 36, 1);
  }
  70% {
    text-shadow: 0px 0px 100px rgba(18, 203, 196, 1);
  }
  80% {
    text-shadow: 0px 0px 100px rgba(234, 32, 39, 1);
  }
  90% {
    text-shadow: 0px 0px 100px rgba(59, 59, 152, 1);
  }
  100% {
    text-shadow: 0px 0px 100px rgba(5, 196, 107, 1);
  }
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes changeBorder {
  0% {
    border-color: #2196f3;
  }
  20% {
    border-color: #f3730b;
  }
  40% {
    border-color: #2b08f1;
  }
  60% {
    border-color: #51ff00;
  }
  80% {
    border-color: #fa009a;
  }
  100% {
    border-color: #fa0000;
  }
}
